<html>

  <head>
    <script type="text/javascript" src="lib/jquery/jquery.js"> </script>
    <script type="text/javascript" src="lib/handlebars/handlebars.js"> </script>

    <script type="text/javascript" src="lib/ember/ember.js"> </script>
    <script type="text/javascript" src="lib/ember-data/ember-data.js"> </script>
    <script type="text/javascript" src="lib/ember-localstorage-adapter/localstorage_adapter.js"> </script>

    <script type="text/javascript" src="scripts/app.js"> </script>
  </head>

  <body>
    <script type="text/x-handlebars">
      <ul>
        <li>
          {{#link-to "projects"}} Projects {{/link-to}}
        </li>
        <li>
          {{#link-to "users"}} Users {{/link-to}}
        </li>
      </ul>

      {{ outlet }}
    </script>

    <script type="text/x-handlebars" id="projects">
      <h2> Create projects </h2>
      <div> {{ input value=name placeholder="Project's name" }} <button {{action 'create'}}> Create </button> </div>
      <ul>
        {{#each}}
          <li> {{name}} </li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" id="users">
      <h2> Creating users </h2>
    </script>
  </body>
</html>
